/*
Raleway зробив 800
заяві div наче прибрав
ієрархію h1-h2-h3 змінив у портфоліо,але в студії після h1 ідуть h3,але є більш значний h2
CSS змінні зробив і наче всюди замінив на сolor var
line-heigt змінив на відносні
селектори тегів змінив на селектори классів
У Хедер видалив бєкгоаунд колор


Зробив h2 прихований у студіі
прибрав тіні
видалив visited
Змінив колір hover,focus,active 
Вказав font-family: inharit для кнопки
Картинку взяв з 6-го ДЗ

Ви минулого разу сказали про зміну кольору посилань на фіолетовий і я зплутався,гадав що треба зробити візітед,а ви певно мали на увази ховер,фокус,ектів


*/
:root {
	--iris: #4d5ae5;
	--navy-blue: #2e2f42;
	--green: #31d0aa;
	--slate: #434455;
	--light-slate: #8e8f99;
	--cornflower: #e7e9fc;
	--cloud: #f4f4fd;
	--order-button-normal: #4d5ae5;
	--order-button-hover: #4d5ae5;
	--order-button-click: #404bbf;
	--blank: #ffffff;
}

body {
	background-color: var(--blank);
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: var(--slate);
}
/* webstudio logo */
.logo-link-footer {
	background-color: var(--navy-blue);
	color: var(--blank);
}
.web {
	color: var(--iris);
	font-family: Raleway, sans-serif;
	font-size: 18px;
	line-height: 1.2;
}
.studio {
	color: var(--slate);
	font-family: Raleway, sans-serif;
	font-size: 18px;
	line-height: 1.2;
}
.studiofooter {
	color: var(--blank);
	font-family: Raleway, sans-serif;
	font-size: 18px;
	line-height: 1.2;
}

.listoflinks,
.adress {
	color: rgba(0, 0, 0, 0);
}

.nav-link {
	color: var(--navy-blue);
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
}
.adress-link {
	color: var(--navy-blue);
}
.adress-link:hover,
.adress-link:focus {
	color: var(--order-button-normal);
}

.nav-link:hover,
.nav-link:focus {
	color: var(--slate);
}
.nav-link:active {
	color: var(--iris);
}
.link,
.adress-link,
.nav-link,
.product-link {
	text-decoration: none;
	list-style: none;
}

.listofbuttons,
.products-list,
.list-section,
.invisible-head-one,
.invisible-head-two {
	color: rgba(0, 0, 0, 0);
}

.studio-hero {
	background-color: var(--slate);
}
.studio-hero-header {
	color: var(--blank);
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 56px;
	line-height: 1.1;
}

.list-header,
.product-name {
	color: var(--navy-blue);
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
}
.list-item,
.product-type {
	color: var(--navy-blue);
	font-size: 16px;
	line-height: 1.5;
}

.our-team {
	background-color: var(--cloud);
}

.button-order-service {
	background: var(--order-button-normal);
	font-family: inherit;
	border-radius: 4px;
	color: var(--blank);
}
.button-order-service:hover {
	background: var(--order-button-hover);
	font-family: inherit;
	border-radius: 4px;
	cursor: pointer;
}
.button-order-service:active {
	background: var(--order-button-click);
	font-family: inherit;
	border-radius: 4px;
	cursor: pointer;
}

.nav-button-all,
.nav-button-web,
.nav-button-app,
.nav-button-design,
.nav-button-marketing {
	color: var(--order-button-normal);
	background-color: var(--cloud);
	border: 1px solid #e7e9fc;
	border-radius: 4px;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
}

.nav-button-all:hover,
.nav-button-all:focus,
.nav-button-web:hover,
.nav-button-web:focus,
.nav-button-app:hover,
.nav-button-app:focus,
.nav-button-design:hover,
.nav-button-design:focus,
.nav-button-marketing:hover,
.nav-button-marketing:focus {
	color: var(--blank);
	background-color: var(--order-button-normal);
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	cursor: pointer;
	border: none;
}

.our-team-text {
	font-weight: 600;
	font-size: 36px;
	line-height: 1.1;
}
